* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #004aad;
	color: white;
	line-height: 1.6;
	font-size: 1.4rem;
}

i {
	color: rgb(235, 235, 25);
	/* margin-bottom: 1.025rem; */
}

.app-title {
	text-align: center;
	margin-top: 1.3rem;
	margin-bottom: 0;
}

.under-title {
	font-style: italic;
	text-align: center;
}

.features {
	text-align: center;
	display: grid;
	gap: 1.3rem;
	grid-template-columns: repeat(2, 1fr);
	margin: 1.5% 17% 1.5% 17%;
}
.features div {
	padding: 15px 15px;
	background: #3179cc44;
	box-shadow: 4px 4px 8px 4px #012f8b;
	border-radius: 20px;
	transition: transform .2s;
}

.features div:hover {
	transform: scale(1.05);
}

.launch {
	text-align: center;
	font-style: italic;
	font-weight: 700;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	body {
		font-size: 1.1rem;
	}
	.features {
		grid-template-columns: repeat(1, 1fr);
		margin: 1rem 1rem 1rem 1rem;
	}
}
